<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body style="background-image: url('../static/images/bg2.jpg');"> 
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Chela+One|Pacifico&display=swap" rel="stylesheet"> 
    <nav class="navbar sticky-top navbar-dark" style="background-color: #553187;">
        <h1>Room Booking</h1>
        <div class='list-container'>
            {%if user.is_authenticated%}
            <ul>
                <li><a href="logout">Logout</a></li>
            </ul>
            {%else%}
            <ul>
                <li><a href="login">Login</a></li>
                <li><a href="signup">Signup</a></li>
            </ul>
            {%endif%}
        </div>
    </nav>
    {%block content%}
    
    {%endblock%}
</body>
</html>