{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body style="background-image: url('../static/images/bg.jpg');"> 
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <nav class="navbar navbar-dark" style="background-color: #553187;">
        <h1>Room Booking</h1>
        <div class='list-container'>
            <ul>
                {%if user.is_authenticated%}
                    <li><a href="logout">Logout</a></li>
                {%else%}
                    <li><a href="login">Login</a></li>
                    <li><a href="signup">Signup</a></li>
                {%endif%}
            </ul>
        </div>
    </nav>
    <div class="button">
        {%if user.is_superuser%}
        <a href="addSlot">Add Slots</a>
        {%endif%}
        <a href="bookRoom">Book</a>
    </div>
    {%block content%}
    {%endblock%}
</body>
</html>