{%extends 'base.html'%}
{%block content%}
{%load static%}

    <div class="container1">
        <div class="image">
            <img class='img' src="{% static 'images/bg.jpg'%}">
        </div>
        <div class="container2">
            <div class="description">
                <p>
                    This is a website to book rooms. There is a list of rooms along with the timings during which they are available. 
                </p>
            </div>
            <div class="button">
                {%if user.is_superuser%}
                <a href="addSlot">Add a new Slot</a>
                {%endif%}
                <a href="bookRoom">Book a room</a>
                {%if user.is_authenticated%}
                <a href="viewBookings">View Your Bookings</a>
                {%endif%}
            </div>
        </div>
    </div>
    {%endblock%}
    