{%extends 'base.html'%}
{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" href="../static/css/bookingForm.css">
<div class="box-container">
    <div class="form-container2">
        <h2>
            Conratulations! Your Room booking is confirmed! Thank You!  
        </h2>
        <div class="button-container">
            <div class="button">
                <a href="/">Home</a>
                <a href="bookRoom">Book Another Room</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}