 
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  
  .container{
    margin:100px 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    padding: 1rem;
  }
  .img{
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .img img{
    width:700px;
  }
  .login-container{
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  form{
    padding: 30px;
    width: 360px;
  }
  
  .form{
    box-shadow:#553187 inset 3px 3px 5px 2px;
  }

  .profile
  {
     width: 200px;
  }
  
form h2{
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 15px 0;
  color:#333;
}

.input-div{
display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.i{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.i i{
  color: #3d45eb;
}

.input-div>div{
  position: relative;
  height: 45px;
}
.input-div>div label{
  position: absolute;
  left:10px;
  top: 50%;
  transform:translateY(-50%);
  color: #999;
  font-size: 18px;
  display: none;
  transition: .3s;
}

.input{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  border:none;
   outline: none;
  background: none;
  padding: 0.5 rem 0.7 rem;
  font-size: 1.2 rem;
  color:#555;
}


.btn{
    width:100%;
      height:50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #646ade,#4b52db,#3d45eb);
    cursor: pointer;
    color:#fff;
    background-size: 200%;
    text-transform: uppercase;
  }
  
  .btn:hover{
    background-position: right;
    color:#d9d9d9;
    font-size:20px;
  }
  